{% include 'menudealer.html' %}


<body style="background-color: LightGray;">

    {% include 'dealerheader.html' %}

    <br>

    <div style="padding-left: 1000px;">
        <a href="/farmer/addsales/">
            <button class="btn btn-primary">ADD</button>
        </a>
    </div>

    <br>

    <table style="width: 1000px; margin-left: 10px;">
        <tr>
            <td>
                <a href="/dealer/buyvegetables">
                    <div class="card bg-flat-color-0" style="height: 100px;width: 200px; margin-right: 10px;">
                        <h3 style="margin-left:25px;margin-top: 25px;">Vegetables</h3>
                    </div>
                </a>
            </td>
            <td>
                <a href="/dealer/fruits">
                    <div class="card text-white bg-flat-color-4" style="height: 100px;width: 200px;margin-right: 10px;">
                        <h3 style="margin-left:50px;margin-top: 25px;">Fruits</h3>
                    </div>
                </a>
            </td>
            <td>
                <a href="/dealer/crops">
                    <div class="card text-white bg-flat-color-2" style="height: 100px;width: 200px;margin-right: 10px;">
                        <h3 style="margin-left:50px;margin-top: 25px;">Crops</h3>
                    </div>
                </a>
            </td>
            <td>
                <div class="card text-white bg-success" style="height: 100px;width: 200px; margin-right: 10px;">
                    <h3 style="margin-left:25px;margin-top: 25px;">Herbs</h3>
                </div>
            </td>
            <td>
                <div class="card text-white bg-flat-color-1" style="height: 100px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:25px;margin-top: 25px;">Nuts</h3>
                </div>
            </td>

        </tr>
        <tr>
            <td>
                <div class="card text-white bg-flat-color-5" style="height: 100px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Grains</h3>
                </div>
            </td>
            <td>
                <div class="card text-white bg-danger" style="height: 100px;width: 200px; margin-right: 10px;">
                    <h3 style="margin-left:25px;margin-top: 25px;">Legumes</h3>
                </div>
            </td>
            <td>
                <div class="card text-white bg-dark" style="height: 100px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Tubers</h3>
                </div>
            </td>
            <td>
                <div class="card text-white bg-info" style="height: 100px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Berries</h3>
                </div>
            </td>
            <td>
                <div class="card text-white bg-primary" style="height: 100px;width: 200px; margin-right: 10px;">
                    <h3 style="margin-left:25px;margin-top: 25px;">Flowers</h3>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card text-white bg-secondary" style="height: 100px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:25px;margin-top: 25px;">Leafy Greens</h3>
                </div>
            </td>
            <td>
                <div class="card text-white bg-warning" style="height: 100px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Roots</h3>
                </div>
            </td>
            <td>
                <div class="card text-white bg-success" style="height: 100px;width: 200px; margin-right: 10px;">
                    <h3 style="margin-left:25px;margin-top: 25px;">Spices</h3>
                </div>
            </td>
            <td>
                <div class="card text-white bg-flat-color-1" style="height: 100px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:25px;margin-top: 15px;">Medicinal Plants</h3>
                </div>
            </td>
            <td>
                <div class="card text-white bg-flat-color-5" style="height: 100px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:25px;margin-top: 25px;">Mushrooms</h3>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/farmer/vegitables">
                    <div class="card bg-flat-color-0" style="height: 100px;width: 200px; margin-right: 10px;">
                        <h3 style="margin-left:25px;margin-top: 25px;">Pulses</h3>
                    </div>
                </a>
            </td>
            <td>
                <a href="/farmer/fruits">
                    <div class="card text-white bg-flat-color-4" style="height: 100px;width: 200px;margin-right: 10px;">
                        <h3 style="margin-left:50px;margin-top: 25px;">Oilseeds</h3>
                    </div>
                </a>
            </td>
            <td>
                <a href="/farmer/crops">
                    <div class="card text-white bg-flat-color-2" style="height: 100px;width: 200px;margin-right: 10px;">
                        <h3 style="margin-left:25px;margin-top: 25px;">Cover Crops</h3>
                    </div>
                </a>
            </td>
            <td>
                <div class="card text-white bg-success" style="height: 100px;width: 200px; margin-right: 10px;">
                    <h3 style="margin-left:25px;margin-top: 25px;">Condiments</h3>
                </div>
            </td>
            <td>
                <div class="card text-white bg-flat-color-1" style="height: 100px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:25px;margin-top: 25px;">Exotic Plants</h3>
                </div>
            </td>

        </tr>
    </table>
    {% include 'dealerfooter.html' %}