{% include 'menudealer.html' %}


<body style="background-color: LightGray;">

    {% include 'dealerheader.html' %}

    <br><br><br>


    <table style="width: 1000px; margin-left: 10px;">
        <tr>
            <td>
                <a href="{% url 'productlist' %}?fruit=Carrot">
                    <div class="card" style="height: 200px; width: 200px; margin-right: 10px; ">
                        <h3 style="margin-left: 50px; margin-top: 15px;">Carrot</h3>
                        <h4 style="margin-left: 50px; margin-top: 5px;">गाजर گاجر</h4>
                        <div class="image-container">
                            <img src="../../static/images/carrot.jpg" height="125px" alt="Carrot Image">
                        </div>
                    </div>
                </a>
            </td>
            <td>
                <a href="{% url 'productlist' %}?fruit=Broccoli">
                    <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                        <h3 style="margin-left:50px;margin-top: 15px;">Broccoli</h3>
                        <h4 style="margin-left:50px;margin-top: 5px;">ब्रोकोली بروکولی</h4>
                        <div class="image-container">
                            <img src="../../static/images/brocoli.jpg" height="125px" width="225px" alt="Carrot Image">
                        </div>
                    </div>
                </a>
            </td>
            <td>
                <a href="{% url 'productlist' %}?fruit=Tomato">
                    <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                        <h3 style="margin-left:50px;margin-top: 25px;">Tomato</h3>
                        <h4 style="margin-left:50px;margin-top: 5px;">टमाटर ٹماٹر</h4>
                        <div class="image-container">
                            <img src="../../static/images/tomato.jpg" height="125px" width="225px" alt="Carrot Image">
                        </div>
                    </div>
                </a>
            </td>
            <td>
                <a href="{% url 'productlist' %}?fruit=Potato">
                    <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                        <h3 style="margin-left:50px;margin-top: 25px;">Potato</h3>
                        <h4 style="margin-left:50px;margin-top: 5px;">आलू آلو</h4>
                        <div class="image-container">
                            <img src="../../static/images/potato.jpg" height="125px" width="225px" alt="Carrot Image">
                        </div>
                    </div>
                </a>
            </td>
            <td>
                <a href="{% url 'productlist' %}?fruit=Spinach">
                    <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                        <h3 style="margin-left:50px;margin-top: 25px;">Spinach</h3>
                        <h4 style="margin-left:50px;margin-top: 5px;">पालक پالک</h4>
                        <div class="image-container">
                            <img src="../../static/images/spinach.avif" height="125px" width="225px" alt="Carrot Image">
                        </div>
                    </div>
                </a>
            </td>

        </tr>
        <tr>
            <td>
                <a href="{% url 'productlist' %}?fruit=Bell Pepper">
                    <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                        <h3 style="margin-left:25px;margin-top: 25px;">Bell Pepper</h3>
                        <h4 style="margin-left:10px;margin-top: 5px;">शिमला मिर्च گھنٹی مرچ</h4>
                        <div class="image-container">
                            <img src="../../static/images/bell_pepper.jpg" height="125px" width="225px"
                                alt="Carrot Image">
                        </div>
                    </div>
                </a>
            </td>
            <td>
                <a href="{% url 'productlist' %}?fruit=Onion">
                    <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                        <h3 style="margin-left:50px;margin-top: 25px;">Onion</h3>
                        <h4 style="margin-left:50px;margin-top: 5px;">प्याज پیاز</h4>
                        <div class="image-container">
                            <img src="../../static/images/onion.jpg" height="125px" width="225px" alt="Carrot Image">
                        </div>
                    </div>
                </a>
            </td>
            <td>
                <a href="{% url 'productlist' %}?fruit=Garlic">
                    <div class="card " style="height: 200px;width: 200px;margin-right: 10px;">
                        <h3 style="margin-left:50px;margin-top: 25px;">Garlic</h3>
                        <h4 style="margin-left:50px;margin-top: 5px;">लहसुन لہسن</h4>
                        <div class="image-container">
                            <img src="../../static/images/garlic.jpg" height="125px" width="225px" alt="Carrot Image">
                        </div>
                    </div>
                </a>
            </td>
            <td>
                <a href="{% url 'productlist' %}?fruit=Cucumber">
                    <div class="card " style="height: 200px;width: 200px;margin-right: 10px;">
                        <h3 style="margin-left:25px;margin-top: 25px;">Cucumber</h3>
                        <h4 style="margin-left:50px;margin-top: 5px;">खीरा کھیرا</h4>
                        <div class="image-container">
                            <img src="../../static/images/cucumber.jpg" height="125px" width="225px" alt="Carrot Image">
                        </div>
                    </div>
                </a>
            </td>
            <td>
                <a href="{% url 'productlist' %}?fruit=Cherry">
                    <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                        <h3 style="margin-left:50px;margin-top: 25px;">Cherry</h3>
                        <h4 style="margin-left:50px;margin-top: 5px;">चेरी چیری</h4>
                        <div class="image-container">
                            <img src="../../static/images/cherry.webp" height="125px" width="225px" alt="Carrot Image">
                        </div>
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'productlist' %}?fruit=Lettuce">
                    <div class="card " style="height: 200px;width: 200px;margin-right: 10px;">
                        <h3 style="margin-left:50px;margin-top: 25px;">Lettuce</h3>
                        <h4 style="margin-left:50px;margin-top: 5px;">सलाद لیٹش</h4>
                        <div class="image-container">
                            <img src="../../static/images/lettuce.avif" height="125px" width="225px" alt="Carrot Image">
                        </div>
                    </div>
                </a>
            </td>
            <td>
                <a href="{% url 'productlist' %}?fruit=Zucchini">
                    <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                        <h3 style="margin-left:50px;margin-top: 25px;">Zucchini</h3>
                        <h4 style="margin-left:50px;margin-top: 5px;">तुरई زچینی</h4>
                        <div class="image-container">
                            <img src="../../static/images/zucchini.avif" height="125px" width="225px"
                                alt="Carrot Image">
                        </div>
                    </div>
                </a>
            </td>
            <td>
                <a href="{% url 'productlist' %}?fruit=Cauliflower">
                    <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                        <h3 style="margin-left:25px;margin-top: 25px;">Cauliflower</h3>
                        <h4 style="margin-left:50px;margin-top: 5px;">फूलगोभी گوبھی </h4>
                        <div class="image-container">
                            <img src="../../static/images/cauliflower.jpg" height="125px" width="225px"
                                alt="Carrot Image">
                        </div>
                    </div>
                </a>
            </td>
            <td>
                <a href="{% url 'productlist' %}?fruit=Cabbage">
                    <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                        <h3 style="margin-left:50px;margin-top: 25px;">Cabbage</h3>
                        <h4 style="margin-left:50px;margin-top: 5px;">पत्ता गोभी گوبھی</h4>
                        <div class="image-container">
                            <img src="../../static/images/cabbage.avif" height="125px" width="225px" alt="Carrot Image">
                        </div>
                    </div>
                </a>
            </td>
            <td>
                <a href="{% url 'productlist' %}?fruit=Eggplant">
                    <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                        <h3 style="margin-left:50px;margin-top: 25px;">Eggplant</h3>
                        <h4 style="margin-left:50px;margin-top: 5px;">बैंगन بینگن</h4>
                        <div class="image-container">
                            <img src="../../static/images/eggplant.jpg" height="125px" width="225px" alt="Carrot Image">
                        </div>
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'productlist' %}?fruit=Peas">
                    <div class="card" style="height: 200px;width: 200px; margin-right: 10px; ">
                        <h3 style="margin-left:50px;margin-top: 25px;">Peas</h3>
                        <h4 style="margin-left:50px;margin-top: 5px;">मटर مٹر</h4>
                        <div class="image-container">
                            <img src="../../static/images/peas.jpg" height="125px" width="225px" alt="Carrot Image">
                        </div>
                    </div>
                </a>
            </td>
            <td>
                <a href="{% url 'productlist' %}?fruit=Green Beans">
                    <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                        <h3 style="margin-left:25px;margin-top: 25px;">Green Beans</h3>
                        <h4 style="margin-left:25px;margin-top: 5px;">हरी सेम سبز پھلیاں</h4>
                        <div class="image-container">
                            <img src="../../static/images/greenbeans.jpg" height="125px" width="225px"
                                alt="Carrot Image">
                        </div>
                    </div>
                </a>
            </td>
            <td>
                <a href="{% url 'productlist' %}?fruit=Radish">
                    <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                        <h3 style="margin-left:50px;margin-top: 25px;">Radish</h3>
                        <h4 style="margin-left:50px;margin-top: 5px;">मूली راشد</h4>
                        <div class="image-container">
                            <img src="../../static/images/raddish.jpg" height="125px" width="225px" alt="Carrot Image">
                        </div>
                    </div>
                </a>
            </td>
            <td>
                <a href="{% url 'productlist' %}?fruit=Sweet Potato">
                    <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                        <h3 style="margin-left:20px;margin-top: 25px;">Sweet Potato</h3>
                        <h4 style="margin-left:30px;margin-top: 5px;">शकरकंद شکر قندی</h4>
                        <div class="image-container">
                            <img src="../../static/images/sweetpotato.jpg" height="125px" width="225px"
                                alt="Carrot Image">
                        </div>
                    </div>
                </a>
            </td>
            <td>
                <a href="{% url 'productlist' %}?fruit=Pumpkin">
                    <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                        <h3 style="margin-left:50px;margin-top: 25px;">Pumpkin</h3>
                        <h4 style="margin-left:50px;margin-top: 5px;">कद्दू پیٹھا کدو</h4>
                        <div class="image-container">
                            <img src="../../static/images/pumpkin.webp" height="125px" width="225px" alt="Carrot Image">
                        </div>
                    </div>
                </a>
            </td>

        </tr>
        <tr>
            <td>
                <a href="{% url 'productlist' %}?fruit=Beetroot">
                    <div class="card" style="height: 200px;margin-bottom: 50px; width: 200px;margin-right: 10px;">
                        <h3 style="margin-left:50px;margin-top: 25px;">Beetroot</h3>
                        <h4 style="margin-left:50px;margin-top: 5px;">बेरूत چقندر</h4>
                        <div class="image-container">
                            <img src="../../static/images/beetroot.jpg" height="125px" width="225px" alt="Carrot Image">
                        </div>
                    </div>
                </a>
            </td>
            <td>
                <a href="{% url 'productlist' %}?fruit=Asparagus">
                    <div class="card " style="height: 200px;width: 200px; margin-bottom: 50px;margin-right: 10px;">
                        <h3 style="margin-left:25px;margin-top: 25px;">Asparagus</h3>
                        <h4 style="margin-left:25px;margin-top: 5px;">शतावरी موصلی سفید</h4>
                        <div class="image-container">
                            <img src="../../static/images/asparagus.avif" height="125px" width="225px"
                                alt="Carrot Image">
                        </div>
                    </div>
                </a>
            </td>
            <td>
                <a href="{% url 'productlist' %}?fruit=Celery">
                    <div class="card" style="height: 200px;width: 200px;margin-bottom: 50px; margin-right: 10px;">
                        <h3 style="margin-left:50px;margin-top: 25px;">Celery</h3>
                        <h4 style="margin-left:50px;margin-top: 5px;">साफ़ اجوائن </h4>
                        <div class="image-container">
                            <img src="../../static/images/celery.jpeg" height="125px" width="225px" alt="Carrot Image">
                        </div>
                    </div>
                </a>
            </td>
            <td>
                <a href="{% url 'productlist' %}?fruit=Kale">
                    <div class="card  " style="height: 200px;width: 200px;margin-bottom: 50px;margin-right: 10px;">
                        <h3 style="margin-left:60px;margin-top: 25px;">Kale</h3>
                        <h4 style="margin-left:60px;margin-top: 5px;">काला کالے </h4>
                        <div class="image-container">
                            <img src="../../static/images/kale.jpg" height="125px" width="225px" alt="Carrot Image">
                        </div>
                    </div>
                </a>
            </td>
            <td>
                <a href="{% url 'productlist' %}?fruit=Brussels Sprouts">
                    <div class="card " style="height: 200px;width: 200px;margin-bottom: 50px; margin-right: 10px;">
                        <h4 style="margin-left:20px;font-size: 22px;margin-top: 25px;">Brussels Sprouts </h4>
                        <h4 style="margin-left:25px;font-size: 15px;margin-top: 5px;">ब्रसल स्प्राउट برسلز انکرت</h4>
                        <div class="image-container">
                            <img src="../../static/images/brussels-sprouts.webp" height="125px" width="225px"
                                alt="Carrot Image">
                        </div>
                    </div>
                </a>
            </td>
        </tr>
    </table>

    {% include 'dealerfooter.html' %}