{% include 'menudealer.html' %}
    
    <head>
        <style>
            .card {
                position: relative;
            }
    
            .image-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.8);
                /* Optional: Add a semi-transparent background */
                display: none;
            }
    
            .card:hover .image-container {
                display: block;
            }
    
            .image-container img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* Optional: Maintain image aspect ratio */
            }
        </style>
    </head>
    
    <body style="background-color: LightGray;">
    
        {% include 'dealerheader.html' %}
    
        <br><br>
    
        <!-- <div style="padding-left: 1000px;">
            <a href="/farmer/addsales/">
                <button class="btn btn-primary">ADD</button>
            </a>
        </div>
    
        <br><br> -->
    
        <table style="width: 1000px; margin-left: 10px;">
            <tr>
                <td>
                    <a href="{% url 'farmer:productpriceadd' %}?fruit=Wheat">
                        <div class="card bg-flat-color-0" style="height: 100px;width: 200px; margin-right: 10px;">
                            <h3 style="margin-left:25px;margin-top: 25px;">Wheat</h3>
                            <div class="image-container">
                                <img src="../../static/images/wheat.webp" alt="Carrot Image">
                            </div>
                        </div>
                    </a>
                </td>
                <td>
                    <a href="{% url 'productlist' %}?fruit=Rice">
                        <div class="card text-white "
                            style="height: 100px;width: 200px;margin-right: 10px; background-color: #3498db;">
                            <h3 style="margin-left:50px;margin-top: 25px;">Rice</h3>
                            <div class="image-container">
                                <img src="../../static/images/rice.jpg" alt="Carrot Image">
                            </div>
                        </div>
                    </a>
                </td>
                <td>
                    <a href="{% url 'productlist' %}?fruit=Maize">
                        <div class="card text-white"
                            style="height: 100px;width: 200px;margin-right: 10px;background-color: #2ecc71;">
                            <h3 style="margin-left:50px;margin-top: 25px;">Maize</h3>
                            <div class="image-container">
                                <img src="../../static/images/maize.jpg" alt="Carrot Image">
                            </div>
                        </div>
                    </a>
                </td>
                <td>
                    <a href="{% url 'productlist' %}?fruit=Barley">
                        <div class="card text-white bg-success"
                            style="height: 100px;width: 200px; margin-right: 10px;background-color: #e74c3c;">
                            <h3 style="margin-left:25px;margin-top: 25px;">Barley</h3>
                            <div class="image-container">
                                <img src="../../static/images/barley.jpg" alt="Carrot Image">
                            </div>
                        </div>
                    </a>
                </td>
                <td>
                    <a href="{% url 'productlist' %}?fruit=Oats">
                        <div class="card text-white"
                            style="height: 100px;width: 200px;margin-right: 10px;background-color: #f39c12;">
                            <h3 style="margin-left:25px;margin-top: 25px;">Oats</h3>
                            <div class="image-container">
                                <img src="../../static/images/oats.jpg" alt="Carrot Image">
                            </div>
                        </div>
                    </a>
                </td>
    
            </tr>
            <tr>
                <td>
                    <a href="{% url 'productlist' %}?fruit=Rye">
                        <div class="card text-white bg-flat-color-5"
                            style="height: 100px;width: 200px;margin-right: 10px;background-color: #16a085;">
                            <h3 style="margin-left:50px;margin-top: 25px;">Rye</h3>
                            <div class="image-container">
                                <img src="../../static/images/rye.jpg" alt="Carrot Image">
                            </div>
                        </div>
                    </a>
                </td>
                <td>
                    <a href="{% url 'farmer:productpriceadd' %}?fruit=Millet">
                        <div class="card text-white bg-danger"
                            style="height: 100px;width: 200px; margin-right: 10px;background-color: #d35400;">
                            <h3 style="margin-left:25px;margin-top: 25px;">Millet</h3>
                            <div class="image-container">
                                <img src="../../static/images/millet.jpg" alt="Carrot Image">
                            </div>
                        </div>
                    </a>
                </td>
                <td>
                    <a href="{% url 'productlist' %}?fruit=Sorghum">
                        <div class="card text-white bg-dark"
                            style="height: 100px;width: 200px;margin-right: 10px;background-color: #8e44ad;">
                            <h3 style="margin-left:50px;margin-top: 25px;">Sorghum</h3>
                            <div class="image-container">
                                <img src="../../static/images/sorghum.avif" alt="Carrot Image">
                            </div>
                        </div>
                    </a>
                </td>
                <td>
                    <a href="{% url 'productlist' %}?fruit=Cotton">
                        <div class="card text-white bg-info"
                            style="height: 100px;width: 200px;margin-right: 10px;background-color: #1abc9c;">
                            <h3 style="margin-left:50px;margin-top: 25px;">Cotton</h3>
                            <div class="image-container">
                                <img src="../../static/images/cotton.jpg" alt="Carrot Image">
                            </div>
                        </div>
                    </a>
                </td>
                <td>
                    <a href="{% url 'productlist' %}?fruit=Sugarcane">
                        <div class="card text-white"
                            style="height: 100px;width: 200px; margin-right: 10px;background-color: #c0392b;">
                            <h3 style="margin-left:25px;margin-top: 25px;">Sugarcane</h3>
                            <div class="image-container">
                                <img src="../../static/images/sugarcane.jpg" alt="Carrot Image">
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{% url 'productlist' %}?fruit=Soyabeans">
                        <div class="card text-white "
                            style="height: 100px;width: 200px;margin-right: 10px;background-color: #7f8c8d;">
                            <h3 style="margin-left:50px;margin-top: 25px;">Soybeans</h3>
                            <div class="image-container">
                                <img src="../../static/images/soybean.jpg" alt="Carrot Image">
                            </div>
                        </div>
                </td>
                <td>
                    <a href="{% url 'productlist' %}?fruit=Canola">
                        <div class="card text-white "
                            style="height: 100px;width: 200px;margin-right: 10px;background-color: #27ae60;">
                            <h3 style="margin-left:50px;margin-top: 25px;">Canola</h3>
                            <div class="image-container">
                                <img src="../../static/images/canola.jpg" alt="Carrot Image">
                            </div>
                        </div>
                </td>
                <td>
                    <a href="{% url 'productlist' %}?fruit=Sunflower">
                        <div class="card text-white "
                            style="height: 100px;width: 200px; margin-right: 10px;background-color: #f1c40f;">
                            <h3 style="margin-left:25px;margin-top: 25px;">Sunflower</h3>
                            <div class="image-container">
                                <img src="../../static/images/sunflower.jpg" alt="Carrot Image">
                            </div>
                        </div>
                </td>
                <td>
                    <a href="{% url 'productlist' %}?fruit=Peanuts">
                        <div class="card text-white bg-flat-color-1"
                            style="height: 100px;width: 200px;margin-right: 10px;background-color: #2980b9;">
                            <h3 style="margin-left:50px;margin-top: 25px;">Peanuts</h3>
                            <div class="image-container">
                                <img src="../../static/images/peanuts.jpg" alt="Carrot Image">
                            </div>
                        </div>
                </td>
                <td>
                    <a href="{% url 'productlist' %}?fruit=Lentils">
                        <div class="card text-white bg-flat-color-5"
                            style="height: 100px;width: 200px;margin-right: 10px;background-color: #e67e22;">
                            <h3 style="margin-left:50px;margin-top: 25px;">Lentils</h3>
                            <div class="image-container">
                                <img src="../../static/images/lentil.webp" alt="Carrot Image">
                            </div>
                        </div>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{% url 'productlist' %}?fruit=Chickpeas">
                        <div class="card text-white bg-flat-color-0"
                            style="height: 100px;width: 200px; margin-right: 10px;background-color: #e67e22;">
                            <h3 style="margin-left:25px;margin-top: 25px;">Chickpeas</h3>
                            <div class="image-container">
                                <img src="../../static/images/chickpeas.jpg" alt="Carrot Image">
                            </div>
                        </div>
                </td>
                <td>
                    <a href="{% url 'productlist' %}?fruit=FLaxseed">
                        <div class="card text-white bg-flat-color-4"
                            style="height: 100px;width: 200px;margin-right: 10px;background-color: #2c3e50;">
                            <h3 style="margin-left:50px;margin-top: 25px;">Flaxseed</h3>
                            <div class="image-container">
                                <img src="../../static/images/flaxseed.jpg" alt="Carrot Image">
                            </div>
                        </div>
                </td>
                <td>
                    <a href="{% url 'farmer:productpriceadd' %}?fruit=Tobacco">
                        <div class="card text-white bg-flat-color-2"
                            style="height: 100px;width: 200px;margin-right: 10px;background-color: #3498db;">
                            <h3 style="margin-left:50px;margin-top: 25px;">Tobacco</h3>
                            <div class="image-container">
                                <img src="../../static/images/tobacco.jpg" alt="Carrot Image">
                            </div>
                        </div>
                    </a>
                </td>
                <td>
                    <a href="{% url 'productlist' %}?fruit=Coffee">
                        <div class="card text-white bg-success"
                            style="height: 100px;width: 200px; margin-right: 10px;background-color: #e74c3c;">
                            <h3 style="margin-left:25px;margin-top: 25px;">Coffee</h3>
                            <div class="image-container">
                                <img src="../../static/images/coffee.jpg" alt="Carrot Image">
                            </div>
                        </div>
                    </a>
                </td>
                <td>
                    <a href="{% url 'productlist' %}?fruit=Tea">
                        <div class="card text-white bg-flat-color-1"
                            style="height: 100px;width: 200px;margin-right: 10px;background-color: #1abc9c;">
                            <h3 style="margin-left:25px;margin-top: 25px;">Tea</h3>
                            <div class="image-container">
                                <img src="../../static/images/tea.jpg" alt="Carrot Image">
                            </div>
                        </div>
                    </a>
                </td>
    
            </tr>
            <tr>
                <td>
                    <a href="{% url 'productlist' %}?fruit=Cocoa">
                        <div class="card text-white bg-secondary"
                            style="height: 100px;width: 200px;margin-bottom: 50px;margin-right: 10px;background-color: #f39c12;">
                            <h3 style="margin-left:50px;margin-top: 25px;">Cocoa</h3>
                            <div class="image-container">
                                <img src="../../static/images/cocoa.jpg" alt="Carrot Image">
                            </div>
                        </div>
                    </a>
                </td>
    
    
                <td>
                    <a href="{% url 'productlist' %}?fruit=Cassava">
                        <div class="card text-white bg-flat-color-1"
                            style="height: 100px;width: 200px;margin-bottom: 50px;margin-right: 10px;background-color: #8e44ad;">
                            <h3 style="margin-left:50px;margin-top: 25px;">Cassava </h3>
                            <div class="image-container">
                                <img src="../../static/images/cassava.webp" alt="Carrot Image">
                            </div>
                        </div>
                    </a>
                </td>
                <td>
                    <a href="{% url 'farmer:productpriceadd' %}?fruit=Sugar Beets">
                        <div class="card text-white bg-flat-color-5"
                            style="height: 100px;width: 200px;margin-bottom: 50px;margin-right: 10px; background-color: #c0392b;">
                            <h3 style="margin-left:50px;margin-top: 25px;">Sugar Beets</h3>
                            <div class="image-container">
                                <img src="../../static/images/sugar-beet.jpg" alt="Carrot Image">
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
        </table>
    
    {% include 'dealerfooter.html' %}