{% include 'menudealer.html' %}

<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="row">
            <div class="col">
                {% include 'header.html' %}
            </div>    
        </div>    
        <div class="row">
            <div class="col">
            <div class="login-content"> 
                <div class="login-form">
                    <h3>Add Deliverymen</h3><hr><br>
                    <form method="" action="">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">
                                    NAME
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="name" class="form-control">
                            </div>
                        </div>
                        
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">
                                    DURATION
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="duration" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">
                                    RATE
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="rate" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">
                                    CONTACTS
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="contacts" class="form-control">
                            </div>
                        </div>
                        <br><hr>
                        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">ADD</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
 </div>
</div>
                    

    {% include 'footer.html' %}
    