    {% include 'menudealer.html' %}
    {% include 'dealerheader.html' with user_name=user_name %}

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        setInterval(function () {
            $.ajax({
                url: 'http://localhost:8000/dealer/get_notifications/',
                method: 'GET',
                dataType: 'json',  // Assuming your response is in JSON format
                success: function (data) {
                    if (data.notifications && data.bit_value && data.notifications.length > 0) {
                        data.notifications.forEach(function (notification) {
                            var productName = notification.product;
                            var notificationMessage = notification.notification;
                            
                            // Create a new element with the notification message
                            var notificationElement = $('<p class="bg-success text-white p-2"></p>').text(notificationMessage);
                            var productAmount = data.bit_value ;
                            var productQuantity = data.quantity ;
                            var payButton = $('<a href="/dealer/pay/'+ productAmount+'/'+productName +'/'+ productQuantity+'"><button id="pay" class="btn btn-primary">Pay</button></a>');
                            // Add the notification to the corresponding product table
                            $('#' + productName + '-bit-content').html([notificationElement, payButton]);    
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.error('AJAX request failed:', status, error);
                }
            });
        }, 1000);
    </script>
</head>

    <br><br><br>

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    {% for product, product in bit.items %}
                    {% for data in product %}
                    
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">{{ data.product }}</strong>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-bordered dataTable no-footer" role="grid"
                                aria-describedby="{{ product }}-data-table_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" style="width: 200px;">Product Name</th>
                                        <th class="sorting" style="width: 200px;">Farmer Name</th>
                                        <th class="sorting" style="width: 200px;">Product Type</th>
                                        <th class="sorting" style="width: 120px;">Quantity</th>
                                        <th class="sorting" style="width: 148px;">Rate</th>
                                        <th class="sorting" style="width: 121px;">Quality</th>
                                        <th class="sorting" style="width: 100px; padding-left: 10px;">Bit</th>
                                        <th class="sorting" style="width: 200px; padding-left: 10px;">Message</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <tr role="row" class="odd">
                                        <td>{{ data.product }}</td>
                                        <td>{{ data.farmer }}</td>
                                        <td>{{ data.product_type }}</td>
                                        <td>{{ data.quality }}</td>
                                        <td>{{ data.rate }}</td>
                                        <td>{{ data.quantity }}</td>
                                        <td>{{ data.bit_value }} Rs</td>
                                        <td> 
                                            <div id="{{ data.product }}-bit-content">
                                                <p class="bg-primary text-white p-2 pl-4">Bit</p>
                                            </div>
                                        </td>    
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>

    {% include 'dealerfooter.html' %}