{% include 'menudealer.html' %}
<head>
<style>
        .card {
            height: 120px;
            width: 200px;
            margin-bottom: 50px;
            margin-right: 10px;
        }

        @media only screen and (max-width: 768px) {
            .card {
                width: calc(50% - 20px);
                margin-left: 60px;
                margin-bottom: 20px;
            }

            .card:nth-child(odd) {
                clear: both; 
            }
        }
    </style>
 </head> 
<body style="background-color: LightGray;">

    {% include 'dealerheader.html' %}

    <br><br><br>


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="{% url 'productlist' fruit='Lentils' %}">
             <div class="card" style="height: 200px; width: 200px; margin-right: 10px; ">
                <h3 style="margin-left: 50px; margin-top: 15px;">Lentils</h3>
                <h4 style="margin-left: 50px; margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/lentiles.jpg" height="125px" alt="Carrot Image">
                </div>
             </div>
            </a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'productlist' fruit='Chickpeas' %}">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:50px;margin-top: 15px;">Chickpeas</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/chickpeas.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'productlist' fruit='Kidney beans' %}">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:15px;margin-top: 25px;">Kidney beans</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/kidney_beans.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'productlist' fruit='Black beans' %}">
            <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                <h3 style="margin-left:25px;margin-top: 25px;">Black beans</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/black_beans.webp" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3">
                <a href="{% url 'productlist' fruit='Navy beans' %}">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:15px;margin-top: 25px;">Navy beans</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/navy_beans.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'productlist' fruit='Pinto beans' %}">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:25px;margin-top: 25px;">Pinto beans</h3>
                <h4 style="margin-left:10px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/pinto_beans.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'productlist' fruit='Green peas' %}">
            <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                <h3 style="margin-left:25px;margin-top: 25px;">Green peas</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/green_peas.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'productlist' fruit='Black-eyed peas' %}">
            <div class="card " style="height: 200px;width: 200px;margin-right: 10px;">
                <h4 style="margin-left:15px;margin-top: 25px;font-size: 20px;">Black-eyed peas</h4>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/black-eyed_peas.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3">
                <a href="{% url 'productlist' fruit='Lima beans' %}">
            <div class="card " style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:25px;margin-top: 25px;">Lima beans</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/lima_beans.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'productlist' fruit='Soybeans' %}">
            <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                <h3 style="margin-left:50px;margin-top: 25px;">Soybeans</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/soybean.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'productlist' fruit='Fava beans' %}">
             <div class="card" style="height: 200px; width: 200px; margin-right: 10px; ">
                <h3 style="margin-left: 25px; margin-top: 15px;">Fava beans</h3>
                <h4 style="margin-left: 50px; margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/fava_beans.jpg" height="125px" alt="Carrot Image">
                </div>
             </div>
            </a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'productlist' fruit='Mung beans' %}">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:15px;margin-top: 15px;">Mung beans</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/mung_beans.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3">
                <a href="{% url 'productlist' fruit='Adzuki beans' %}">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:15px;margin-top: 25px;">Adzuki beans</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/adzuki_beans.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'productlist' fruit='Cannellini beans'%}">
            <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                <h4 style="margin-left:15px;margin-top: 25px;font-size: 20px;">Cannellini beans</h4>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/cannellini_beans.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'productlist' fruit='Split peas' %}">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:50px;margin-top: 25px;">Split peas</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/split_peas.jpg  " height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'productlist' fruit='Lupini beans' %}">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:25px;margin-top: 25px;">Lupini beans</h3>
                <h4 style="margin-left:10px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/lupini_beans.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3">
            <a href="{% url 'productlist' fruit='Cranberry beans' %}">
            <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                <h4 style="margin-left:15px;margin-top: 25px;font-size: 20px;">Cranberry beans</h4>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/carnberry_beans.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'productlist' fruit='Red lentils' %}">
            <div class="card " style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:50px;margin-top: 25px;">Red lentils</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/red_lentils.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'productlist' fruit='Green lentils' %}">
            <div class="card " style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:25px;margin-top: 25px;">Green lentils</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/green_lentils.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'productlist' fruit='Yellow peas' %}">
            <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                <h3 style="margin-left:25px;margin-top: 25px;">Yellow peas</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/yellow_peas.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
    </div>

</div> <br><br>

    {% include 'dealerfooter.html' %}