{% include 'menu.html' %}
<head>
<style>
        .card {
            height: 120px;
            width: 200px;
            margin-bottom: 50px;
            margin-right: 10px;
        }

        @media only screen and (max-width: 768px) {
            .card {
                width: calc(50% - 20px);
                margin-left: 60px;
                margin-bottom: 20px;
            }

            .card:nth-child(odd) {
                clear: both; 
            }
        }
    </style>
 </head> 
<body style="background-color: LightGray;">

    {% include 'header.html' %}

    <br><br><br>


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="{% url 'farmer:productpriceadd' %}?fruit=Strawberries">
             <div class="card" style="height: 200px; width: 200px; margin-right: 10px; ">
                <h3 style="margin-left: 15px; margin-top: 15px;">Strawberries</h3>
                <h4 style="margin-left: 50px; margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/strawberries.jpg" height="125px" alt="Carrot Image">
                </div>
             </div>
            </a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Blueberries">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:25px;margin-top: 15px;">Blueberries</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/blueberries.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Raspberries">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:25px;margin-top: 25px;">Raspberries</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/raspberries.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'farmer:productpriceadd' %}?fruit=Blackberries">
            <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                <h3 style="margin-left:15px;margin-top: 25px;">Blackberries</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/blackberries.webp" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Cranberries">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:15px;margin-top: 25px;">Cranberries</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/carnberries.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'farmer:productpriceadd' %}?fruit=Gooseberries">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:25px;margin-top: 25px;">Gooseberries</h3>
                <h4 style="margin-left:10px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/gooseberries.webp" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'farmer:productpriceadd' %}?fruit=Elderberries">
            <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                <h3 style="margin-left:15px;margin-top: 25px;">Elderberries</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/elderberries.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Boysenberries">
            <div class="card " style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:5px;margin-top: 25px;">Boysenberries</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/boysenberries.avif" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
    </div> 

    <div class="row">   
        <div class="col-md-3">
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Lingonberries">
            <div class="card " style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:5px;margin-top: 25px;">Lingonberries</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/lingonberries.avif" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Huckleberries">
            <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                <h3 style="margin-left:15px;margin-top: 25px;">Huckleberries</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/huckleberries.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'farmer:productpriceadd' %}?fruit=Mulberries">
             <div class="card" style="height: 200px; width: 200px; margin-right: 10px; ">
                <h3 style="margin-left: 25px; margin-top: 15px;">Mulberries</h3>
                <h4 style="margin-left: 50px; margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/mulberries.webp" height="125px" alt="Carrot Image">
                </div>
             </div>
            </a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Loganberries">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:15px;margin-top: 15px;">Loganberries</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/loganberries.webp" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
    </div>

    <div class="row">   
        <div class="col-md-3">
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Marionberries">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:5px;margin-top: 25px;">Marionberries</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/marionberries.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'farmer:productpriceadd' %}?fruit=Dewberries">
            <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                <h3 style="margin-left:25px;margin-top: 25px;">Dewberries</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/dewberries.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Cloudberries">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:15px;margin-top: 25px;">Cloudberries</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/cloudberries.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'farmer:productpriceadd' %}?fruit=Saskatoon berries">
             <div class="card" style="height: 200px; width: 200px; margin-right: 10px; ">
                <h4 style="margin-left: 5px; margin-top: 15px;font-size: 23px;">Saskatoon berries</h4>
                <h4 style="margin-left: 50px; margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/saskatoon_berries.jpg" height="125px" alt="Carrot Image">
                </div>
             </div>
            </a>
        </div>
    </div>
    
    <div class="row">   
        <div class="col-md-3">
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Bilberries">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:50px;margin-top: 15px;">Bilberries</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/bilberries.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Acai berries">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:25px;margin-top: 25px;">Acai berries</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/acaiberries.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'farmer:productpriceadd' %}?fruit=Chokeberries">
            <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                <h3 style="margin-left:15px;margin-top: 25px;">Chokeberries</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/chokeberries.jpg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Juniper berries">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:5px;margin-top: 25px;">Juniper berries</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/juniper_berries.jpg  " height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>

    </div>

</div> <br><br>

    {% include 'footer.html' %}