{% include 'menu.html' %}
<head>
<style>
        .card {
            height: 120px;
            width: 200px;
            margin-bottom: 50px;
            margin-right: 10px;
        }

        @media only screen and (max-width: 768px) {
            .card {
                width: calc(50% - 20px);
                margin-left: 60px;
                margin-bottom: 20px;
            }

            .card:nth-child(odd) {
                clear: both; 
            }
        }
    </style>
 </head>
<body style="background-color: LightGray;">

    {% include 'header.html' %}

    <br><br><br>


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="{% url 'farmer:productpriceadd' %}?fruit=Ketchup">
             <div class="card" style="height: 200px; width: 200px; margin-right: 10px; ">
                <h3 style="margin-left: 50px; margin-top: 15px;">Ketchup</h3>
                <h4 style="margin-left: 50px; margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/ketchup.jpeg" height="125px" alt="Carrot Image">
                </div>
             </div>
            </a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Mustard">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:50px;margin-top: 15px;">Mustard</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/mustard.jpeg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Mayonnaise">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:25px;margin-top: 25px;">Mayonnaise</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/mayonnaise.jpeg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'farmer:productpriceadd' %}?fruit=Soy sauce">
            <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                <h3 style="margin-left:50px;margin-top: 25px;">Soy sauce</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/soy_sauce.avif" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
    </div>    

    <div class="row">
        <div class="col-md-3">
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Vinegar">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:50px;margin-top: 25px;">Vinegar</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/vinegar.jpeg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'farmer:productpriceadd' %}?fruit=Worcestershire sauce">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:10px;margin-top: 25px;font-size: 18px;">Worcestershire sauce</h3>
                <h4 style="margin-left:10px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/worcestershire_sauce.jpeg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'farmer:productpriceadd' %}?fruit=Hot sauce">
            <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                <h3 style="margin-left:50px;margin-top: 25px;">Hot sauce</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/hot_sauce.jpeg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Relish">
            <div class="card " style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:50px;margin-top: 25px;">Relish</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/relish.jpeg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
    </div>    

    <div class="row">
        <div class="col-md-3">
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Pickles">
            <div class="card " style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:50px;margin-top: 25px;">Pickles</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/pickles.jpeg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Salsa">
            <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                <h3 style="margin-left:50px;margin-top: 25px;">Salsa</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/salsa.jpeg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'farmer:productpriceadd' %}?fruit=BBQ sauce">
             <div class="card" style="height: 200px; width: 200px; margin-right: 10px; ">
                <h3 style="margin-left: 50px; margin-top: 15px;">BBQ sauce</h3>
                <h4 style="margin-left: 50px; margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/BBQ_sauce.jpeg" height="125px" alt="Carrot Image">
                </div>
             </div>
            </a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Horseradish sauce">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:10px;margin-top: 15px;font-size: 20px;">Horseradish sauce</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/horseradish_sauce.jpeg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
    </div>    

    <div class="row">
        <div class="col-md-3">
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Tartar sauce">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:15px;margin-top: 25px;">Tartar sauce</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/tartar_sauce.jpeg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'farmer:productpriceadd' %}?fruit=Fish sauce">
            <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                <h3 style="margin-left:50px;margin-top: 25px;">Fish sauce</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/fish_sauce.jpeg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Chili sauce">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:50px;margin-top: 25px;">Chili sauce</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/chili_sauce.avif" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'farmer:productpriceadd' %}?fruit=Pesto sauce">
             <div class="card" style="height: 200px; width: 200px; margin-right: 10px; ">
                <h3 style="margin-left: 25px; margin-top: 15px;">Pesto sauce</h3>
                <h4 style="margin-left: 50px; margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/pesto_sauce.jpeg" height="125px" alt="Carrot Image">
                </div>
             </div>
            </a>
        </div>
    </div>    

    <div class="row">
        <div class="col-md-3">
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Chutney">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:50px;margin-top: 15px;">Chutney</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/chutney.jpeg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Harissa">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:50px;margin-top: 25px;">Harissa</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/harissa.jpeg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'farmer:productpriceadd' %}?fruit=Hoisin sauce">
            <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                <h3 style="margin-left:25px;margin-top: 25px;">Hoisin sauce</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/hoisin_sauce.jpeg" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Tahini">
            <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                <h3 style="margin-left:50px;margin-top: 25px;">Tahini</h3>
                <h4 style="margin-left:50px;margin-top: 5px;"></h4>
                <div class="image-container">
                    <img src="../../static/images/tahini.avif" height="125px" width="225px" alt="Carrot Image">
                </div>
            </div>
            </a>
        </div>

    </div>

</div> <br><br>

    {% include 'footer.html' %}