{% include 'menu.html' %}

<body style="background-color: LightGray;">

    {% include 'header.html' %}

    <br><br>
    
   

    <table style="width: 1000px; margin-left: 10px;">
        <tr>
            <td>
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Wheat">
                <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Wheat</h3>
                    <h4 style="margin-left:60px;margin-top: 5px;">गेहूँ گندم</h4>
                    <div class="image-container">
                        <img src="../../static/images/wheat.webp" height="125px" width="225px" alt="Carrot Image">
                    </div>
                </div>
                </a>
            </td>
            <td>
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Rice">
                <div class="card" style="height:200px;width: 200px;margin-right: 10px; ">
                    <h3 style="margin-left:60px;margin-top: 25px;">Rice</h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">चावल چاول </h4>
                    <div class="image-container">
                        <img src="../../static/images/rice.jpg" height="125px" width="225px" alt="Carrot Image">
                    </div>
                </div>
                </a>
            </td>
            <td>
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Maize">
                <div class="card" style="height:200px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Maize</h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">मक्का مکئی</h4>
                    <div class="image-container">
                        <img src="../../static/images/maize.jpg" height="125px" width="225px" alt="Carrot Image">
                    </div>
                </div>
                </a>
            </td>
            <td>
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Barley">
                <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Barley</h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">जौ جو</h4>
                    <div class="image-container">
                        <img src="../../static/images/barley.jpg" height="125px" width="225px" alt="Carrot Image">
                    </div>
                </div>
                </a>
            </td>
            <td>
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Oats">
                <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Oats</h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">जई جو</h4>
                    <div class="image-container">
                        <img src="../../static/images/oats.jpg" height="125px" width="225px" alt="Carrot Image">
                    </div>
                </div>
                </a>
            </td>

        </tr>
        <tr>
            <td>
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Rye">
                <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Rye</h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">राई رائی</h4>
                    <div class="image-container">
                        <img src="../../static/images/rye.jpg" height="125px" width="225px" alt="Carrot Image">
                    </div>
                </div>
                </a>
            </td>
            <td>
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Millet">
                <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Millet</h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">बाजरा باجرا</h4>
                    <div class="image-container">
                        <img src="../../static/images/millet.jpg" height="125px" width="225px" alt="Carrot Image">
                    </div>
                </div>
                </a>
            </td>
            <td>
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Sorghum">
                <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:40px;margin-top: 25px;">Sorghum</h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">चारा جوار</h4>
                    <div class="image-container">
                        <img src="../../static/images/sorghum.avif" height="125px" width="225px" alt="Carrot Image">
                    </div>
                </div>
                </a>
            </td>
            <td>
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Cotton">
                <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Cotton</h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">कपास کپاس</h4>
                    <div class="image-container">
                        <img src="../../static/images/cotton.jpg" height="125px" width="225px" alt="Carrot Image">
                    </div>
                </div>
                </a>
            </td>
            <td>
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Sugarcane">
                <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                    <h3 style="margin-left:25px;margin-top: 25px;">Sugarcane</h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">गन्ना گنا</h4>
                    <div class="image-container">
                        <img src="../../static/images/sugarcane.jpg" height="125px" width="225px" alt="Carrot Image">
                    </div>
                </div>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Soyabeans">
                <div class="card" style="height:200px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Soybeans</h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">सोयाबीन  سویا بین</h4>
                    <div class="image-container">
                        <img src="../../static/images/soybean.jpg" height="125px" width="225px" alt="Carrot Image">
                    </div>
                </div>
            </td>
            <td>
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Canola">
                <div class="card" style="height:200px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Canola</h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">कैनोला کینولا </h4>
                    <div class="image-container">
                        <img src="../../static/images/canola.jpg" height="125px" width="225px" alt="Carrot Image">
                    </div>
                </div>
            </td>
            <td>
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Sunflower">
                <div class="card " style="height: 200px;width: 200px; margin-right: 10px;">
                    <h3 style="margin-left:25px;margin-top: 25px;">Sunflower</h3>
                    <h4 style="margin-left:25px;margin-top: 5px;">सूरजमुखी  سورج مکھی</h4>
                    <div class="image-container">
                        <img src="../../static/images/sunflower.jpg" height="125px" width="225px" alt="Carrot Image">
                    </div>
                </div>
            </td>
            <td>
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Peanuts">
                <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Peanuts</h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">मूंगफली مونگفلی</h4>
                    <div class="image-container">
                        <img src="../../static/images/peanuts.jpg" height="125px" width="225px" alt="Carrot Image">
                    </div>
                </div>
            </td>
            <td>
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Lentils">
                <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Lentils</h3>
                    <h4 style="margin-left:30px;margin-top: 5px;">मसूर की दाल  دالیں</h4>
                    <div class="image-container">
                        <img src="../../static/images/lentil.webp" height="125px" width="225px" alt="Carrot Image">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Chickpeas">
                <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                    <h3 style="margin-left:25px;margin-top: 25px;">Chickpeas</h3>
                    <h4 style="margin-left:25px;margin-top: 5px;">चक्कपियास چنے</h4>
                    <div class="image-container">
                        <img src="../../static/images/chickpeas.jpg" height="125px" width="225px" alt="Carrot Image">
                    </div>
                </div>
            </td>
            <td>
                <a href="{% url 'farmer:productpriceadd' %}?fruit=FLaxseed">
                <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Flaxseed</h3>
                    <h4 style="margin-left:25px;margin-top: 5px;">सन का बीज السی کابیج</h4>
                    <div class="image-container">
                        <img src="../../static/images/flaxseed.jpg" height="125px" width="225px" alt="Carrot Image">
                    </div>
                </div>
            </td>
            <td>
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Tobacco">
                <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Tobacco</h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">तंबाकू تمباکو</h4>
                    <div class="image-container">
                        <img src="../../static/images/tobacco.jpg" height="125px" width="225px" alt="Carrot Image">
                    </div>
                </div>
                </a>
            </td>
            <td>
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Coffee">
                <div class="card" style="height: 200px;width: 200px; margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Coffee</h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">कॉफी کافی</h4>
                    <div class="image-container">
                        <img src="../../static/images/coffee.jpg" height="125px" width="225px" alt="Carrot Image">
                    </div>
                </div>
                </a>
            </td>
            <td>
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Tea">
                <div class="card" style="height: 200px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:60px;margin-top: 25px;">Tea</h3>
                    <h4 style="margin-left:60px;margin-top: 5px;">चाय چائے</h4>
                    <div class="image-container">
                        <img src="../../static/images/tea.jpg" height="125px" width="225px" alt="Carrot Image">
                    </div>
                </div>
                </a>
            </td>

        </tr>
        <tr>
            <td>
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Cocoa">
                <div class="card" style="height: 200px;width: 200px;margin-bottom: 50px;margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Cocoa</h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">कोको  کوکو</h4>
                    <div class="image-container">
                        <img src="../../static/images/cocoa.jpg" height="125px" width="225px" alt="Carrot Image">
                    </div>
                </div>
                </a>
            </td>
            
            
            <td>
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Cassava">
                <div class="card" style="height: 200px;width: 200px;margin-bottom: 50px;margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Cassava </h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">कसावा کاساوا</h4>
                    <div class="image-container">
                        <img src="../../static/images/cassava.webp" height="125px" width="225px" alt="Carrot Image">
                    </div>
                </div>
                </a>
            </td>
            <td>
                <a href="{% url 'farmer:productpriceadd' %}?fruit=Sugar Beets">
                <div class="card" style="height: 200px;width: 200px;margin-bottom: 50px;margin-right: 10px; ">
                    <h3 style="margin-left:25px;margin-top: 25px;">Sugar Beets</h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">चुकन्दर چقندر</h4>
                    <div class="image-container">
                        <img src="../../static/images/sugar-beet.jpg" height="125px" width="225px" alt="Carrot Image">
                    </div>
                </div>
                </a>
            </td>
        </tr>
    </table>

    {% include 'footer.html' %}