{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang=""> 
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>E-KISAN | Farmers</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <link rel="apple-touch-icon" href="{% static 'apple-icon.png' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/cs-skin-elastic.css' %}">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="{% static 'assets/scss/style.css' %}">
    <link href="{% static 'assets/css/lib/vector-map/jqvmap.min.css' %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body> 

    <aside id="left-panel" class="left-panel" style="width: 200px;">
        <nav class="navbar navbar-expand-sm navbar-default">
            
            <div class="navbar-header">
                <a class="navbar-brand" href="/farmer/">E-KISAN</a>
            </div>
    
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/farmer/farmerprofile/">Profile</a></li>
                    <!-- <li><a href="/farmer/resourceslist/">Resources</a></li> -->
                    <li><a href="/farmer/sales/">Sales</a></li>
                    <li><a href="/farmer/productprice/">My Products</a></li>
                    <li><a href="/farmer/farmerbit/">Bits On My Products</a></li>
                    <li><a href="/farmer/">Dealers</a></li>
                    <!-- <li><a href="/farmer/renterslist/">Renters</a></li>
                    <li><a href="/farmer/calculations/">Calculations</a></li>
                    <li><a href="/farmer/transactions/">Transactions</a></li> -->
                    <li><a href="/logout/">Logout</a></li>
                </ul>
            </div>
        </nav>
    </aside>