{% load static %}
<!doctype html>
<html class="no-js" lang=""> 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>E-KISAN | Register</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <link rel="apple-touch-icon" href="{% static 'apple-icon.png' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/cs-skin-elastic.css' %}">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="{% static 'assets/scss/style.css' %}">
    <link href="{% static 'assets/css/lib/vector-map/jqvmap.min.css' %}" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

     <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"> </script>  

<script>  
    $(document).ready(function(){  
        $("#productspriceadd").validate({
            rules: {
                name: {
                    required: true,
                },
                quantity: {
                    required: true,
                    number: true
                },
                rate: {
                    required: true,
                    number: true
                },
                address: {
                    required: true
                },
                producttype: {
                    required: true
                },
                quality: {
                    required: true
                }
            },
            messages: {
                name: {
                    required: "specify name"
                },
                quantity: {
                    required: "specify quantity"
                },
                rate: {
                    required: "specify rate"
                },
                address: {
                    required: "specify address"
                },
                producttype: {
                    required: "specify producttype"
                },
                quality: {
                    required: "specify quality"
                }
            }  
        });
    }); 
</script> 
    
</head>
<body>
{% include 'menu.html' %}

<br>
<div style="padding-left: 800px;">
<a href="javascript:window.history.go(-1);" class="btn btn-primary">Previous</a>
</div>

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content"> 
                <div class="login-form">
                    <h3>Add Products Price </h3><hr><br>
                        <form id="productspriceadd" action="/farmer/farmeragreement/" method="POST">
                            {% csrf_token %}
                            <div class="row form-group">
                                <div class="col col-md-4">
                                    <label class=" form-control-label">
                                    PRODUCT NAME
                                    </label>
                                </div>

                                <div class="col-12 col-md-8">
                                <input type="text" name="product_name" class="form-control" value="{{fruit_name}}"/>
                                </div>
                                    
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-4">
                                    <label class=" form-control-label">
                                    Product Type
                                    </label>
                                </div>
                                <div class="col-12 col-md-8">
                                    <input name="product_type" type="text" class="form-control"/>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-4">
                                    <label class=" form-control-label">
                                        Quality
                                    </label>
                                </div>
                                <div class="col-12 col-md-8">
                                    <select name="quality" class="form-control">
                                        <option class="form-control">Low</option>
                                        <option class="form-control">Medium</option>
                                        <option class="form-control">High</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="row form-group">
                                <div class="col col-md-4">
                                    <label class=" form-control-label">
                                        RATE
                                    </label>
                                </div>
                                <div class="col-12 col-md-8">
                                    <input type="number" name="rate" class="form-control">
                                </div>
                            </div>    

                            <div class="row form-group">
                                <div class="col col-md-4">
                                    <label class=" form-control-label">
                                        Quantity
                                    </label>
                                </div>
                                <div class="col-12 col-md-8">
                                    <input type="number" name="quantity" class="form-control">
                                </div>
                            </div><hr>
                            <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">ADD</button>
                        </form>
                </div>
            </div>
        </div>
    </div>


<div class="footer">                  
{% include 'footer.html' %}
</div>

</body>
</html>
