{% include 'menu.html' %}


<body style="background-color: LightGray;">    

    {% include 'header.html' %}

<br>


<br>    

    <table style="width: 1000px; margin-left: 10px;">
        <tr>
            <td>
                <a href="/farmer/vegitables">
                    <div class="card bg-white rounded shadow-lg" style="height: 120px;width: 200px; margin-right: 10px;">
                        <h3 style="margin-left:25px;margin-top: 25px;">Vegetables</h3>
                        <h4 style="margin-left:50px;margin-top: 5px;">सब्ज़ियाँ  سبزیاں</h4>
                    </div>
                </a>
            </td>
            <td>
                <a href="/farmer/fruits">
                <div class="card bg-white rounded shadow-lg" style="height: 120px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Fruits</h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">फल پھل</h4>
                </div>
                </a>
            </td>
            <td>
                <a href="/farmer/crops">
                <div class="card bg-white  rounded shadow-lg" style="height: 120px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Crops</h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">फसलें  فصلیں</h4>
                </div>
                </a>
            </td>
            <td>
                <div class="card bg-white  rounded shadow-lg" style="height: 120px;width: 200px; margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Herbs</h3>
                    <h4 style="margin-left:25px;margin-top: 5px;">जड़ी बूटी جڑی بوٹیاں</h4>
                </div>
            </td>
            <td>
                <div class="card bg-white  rounded shadow-lg" style="height: 120px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Nuts</h3>
                    <h4 style="margin-left:15px;margin-top: 5px;">टिप्पणियाँ گری دار میوے</h4>
                </div>
            </td>
    
        </tr>
        <tr>
            <td>
                <div class="card bg-white  rounded shadow-lg" style="height: 120px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Grains</h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">साग اناج</h4>
                </div>
            </td>
            <td>
                <div class="card bg-white  rounded shadow-lg" style="height: 120px;width: 200px; margin-right: 10px;">
                    <h3 style="margin-left:25px;margin-top: 25px;">Legumes</h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">लैगमस دالیں</h4>
                </div>
            </td>
            <td>
                <div class="card bg-white  rounded shadow-lg" style="height: 120px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Tubers</h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">तबरास آلو پیاز</h4>
                </div>
            </td>
            <td>
                <div class="card bg-white  rounded shadow-lg" style="height: 120px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Berries</h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">आड़ بیر</h4>
                </div>
            </td>
            <td>
                <div class="card bg-white  rounded shadow-lg" style="height: 120px;width: 200px; margin-right: 10px;">
                    <h3 style="margin-left:25px;margin-top: 25px;">Flowers</h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">फूल پھول</h4>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card bg-white  rounded shadow-lg" style="height: 120px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:25px;margin-top: 25px;">Leafy Greens</h3>
                    <h4 style="margin-left:25px;margin-top: 5px;">लिफ़ी ग्रीन्स پتیدار سبز </h4>
                </div>
            </td>
            <td>
                <div class="card bg-white  rounded shadow-lg" style="height: 120px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:50px;margin-top: 25px;">Roots</h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">जड़ों جڑیں</h4>
                </div>
            </td>
            <td>
                <div class="card bg-white rounded shadow-lg" style="height: 120px;width: 200px; margin-right: 10px;">
                    <h3 style="margin-left:25px;margin-top: 25px;">Spices</h3>
                    <h4 style="margin-left:50px;margin-top: 5px;">मसाले مصالحے</h4>
                </div>
            </td>
            <td>
                <div class="card bg-white rounded shadow-lg" style="height: 120px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:25px;margin-top: 15px;">Medicinal Plants</h3>
                    <h4 style="margin-left:2px;margin-top: 5px;">औषधीय पौधे دواؤںکےپودے</h4>
                </div>
            </td>
            <td>
                <div class="card bg-white rounded shadow-lg" style="height: 120px;width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:25px;margin-top: 25px;">Mushrooms</h3>
                    <h4 style="margin-left:25px;margin-top: 5px;">मशरूम مشروم</h4>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/farmer/ ">
                    <div class="card bg-white rounded shadow-lg" style="height:120px;width: 200px;margin-bottom: 50px; margin-right: 10px;">
                        <h3 style="margin-left:50px;margin-top: 25px;">Pulses</h3>
                        <h4 style="margin-left:50px;margin-top: 5px;">दालें دالیں</h4>
                    </div>
                </a>
            </td>
            <td>
                <a href="/farmer/ ">
                    <div class="card bg-white rounded shadow-lg" style="height: 120px;width: 200px;margin-bottom: 50px;margin-right: 10px;">
                        <h3 style="margin-left:50px;margin-top: 25px;">Oilseeds</h3>
                        <h4 style="margin-left:25px;margin-top: 5px;">वेलसीडास تیل کے بیج</h4>
                    </div>
                </a>
            </td>
            <td>
                <a href="/farmer/ ">
                    <div class="card bg-white rounded shadow-lg" style="height: 120px;width: 200px;margin-bottom: 50px;margin-right: 10px;">
                        <h3 style="margin-left:25px;margin-top: 5px;">Cover Crops</h3>
                        <h4 style="margin-left:25px;margin-top: 1px;">सुरक्षा फसलें فصلوںکااحاطہکریں</h4>
                    </div>
                </a>
            </td>
            <td>
                <div class="card bg-white rounded shadow-lg" style="height: 120px;width: 200px;margin-bottom: 50px; margin-right: 10px;">
                    <h3 style="margin-left:25px;margin-top: 25px;">Condiments</h3>
                    <h4 style="margin-left:25px;margin-top: 5px;">मसालों مصالحہ جات</h4>
                </div>
            </td>
            <td>
                <div class="card bg-white rounded shadow-lg" style="height: 120px;margin-bottom: 50px; width: 200px;margin-right: 10px;">
                    <h3 style="margin-left:25px;margin-top: 25px;">Exotic Plants</h3>
                    <h4 style="margin-left:5px;margin-top: 5px;">विदेशी पौधे غیر ملکی پودے</h4>
                </div>
            </td>
        
        </tr>
    </table>
{% include 'footer.html' %}



