{% load static %}
<!doctype html>
<html class="no-js" lang=""> 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>E-KISAN | Register</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <link rel="apple-touch-icon" href="{% static 'apple-icon.png' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/cs-skin-elastic.css' %}">
    <!-- <link rel="stylesheet" href="Layout/assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="{% static 'assets/scss/style.css' %}">
    <link href="{% static 'assets/css/lib/vector-map/jqvmap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"> </script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"> </script>  
<script>  
    $(document).ready(function(){  
        $("#registerform").validate({
            rules: {
                name: {
                    required: true,
                    minlength: 4,
               }, 
               address: {
                    required: true,
                    minlength: 25,
               }, 
               state: {
                    required: true,
               }, 
               city: {
                    required: true,

               }, 
               pincode: {
                    required: true,
                    number: true,
                    minlength: 6,
                    maxlength: 6
               },
               mobile: {
                    required: true,
                    number: true,
                    minlength: 10,
                    maxlength: 10
                }, 
            },
            messages: {
                name: {
                    required: "specify name",
                    minlength: "The name field has to be minimum 4 characters long",
                },
                address: {
                    required: "specify address",
                    minlength: "The address field has to be minimum 25 characters long",
                },
                state: {
                    required: "specify state",
                },
               city: {
                    required: "specify city",
                },
                pincode: {
                    required: "specify pincode",
                    minlength: "The pincode field has to be minimum 6 characters long",
                    maxlength: "The picode field has to be maximum 6 characters long"
                },
                mobile: {
                    required: "specify number",
                    minlength: "The mobile field has to be minimum 10 characters long",
                    maxlength: "The mobile field has to be maximum 10 characters long"
                },
            }  
        });
    }); 
</script>
<style>
                
     @media screen and (max-width: 768px) {
    /* Styles for small screens */
    .backgroundimg {
        width: 375px;
        height: 1075px; /* Adjust height to fit content */
        background-size: contain; /* Ensure the entire image fits within the container */
        background-position: center; /* Center the image */
        background-image:url('../static/images/farm3.jpg');
        background-size: cover; 
        margin: 0;

    }
    .blacklayer{
        width: 375px;
        height: 1077px;
        background-color: rgba(0, 0, 0, 0.5); 
        margin-top: -10px;    
    }
    .ekisan{
        font-size: large;
    }
    .back{
        margin-left: 270px;
        margin-top:20px;
    }
    .login{
        width: 350px;
        height: 200px;
        margin-top: 150px;
        box-shadow: 0 0 50px #46eb96d7;
    }
    p,label{
        font-size: 12px;
    }

}

@media screen and (min-width: 1024px) {
    .backgroundimg{
        height: 603px;  
        background-size: contain; 
        background-position: center; 
        background-image:url('../static/images/farm3.jpg');
        background-size: cover; 
        margin: 0;
    }
    .blacklayer{
        height: 603px;
        background-color: rgba(0, 0, 0, 0.5); 
        margin-top: -10px;
    }
    .back{
        margin-left: 1100px;
        margin-top:20px;
    }
    .register{
        margin-top:105px;
        height: 272px;
        
    }
    p,label{
        font-size: 15px;
    }
    .copyright{
        margin-top: 125px;
        margin-left: 25px;
    }
}
</style> 
</head>
<body>
    <div class="backgroundimg">
    <div class="blacklayer">
    <h3 class="ekisan text-white" style="position: fixed; margin-left: 30px;padding-top: 30px;">E-KISAN</h3>
    <a href="/"><button class="back btn btn-outline-light btn-sm" style="box-shadow: 0 0 50px #46eb96d7;">Back</button></a>
    <br><br>
    <div class="register sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content" style="box-shadow: 0 0 50px #46eb96d7;"> 
            <div class="bg-transparent card login-form" style="border-color: white;">
                    <form id="registerform" action="/register/" method="post">
                        {% csrf_token %}
                        <div class="row form-group">
                            <div class="col col-md-2">
                                <label class=" form-control-label text-white">
                                    Name
                                </label>
                            </div>
                            <div class="col-12 col-md-10">
                                <input type="text" id="name" name="name" class="form-control bg-transparent text-white">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-2">
                                <label class=" form-control-label text-white">
                                    Address
                                </label>
                            </div>
                            <div class="col-12 col-md-10">
                                <textarea type="text" id="address" name="address" class="form-control bg-transparent text-white"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-2">
                                <label class=" form-control-label text-white">
                                    State
                                </label>
                            </div>
                            <div class="col-12 col-md-4">
                                <input type="text" id="state" name="state" class="form-control bg-transparent text-white">
                            </div>
                            <div class="col col-md-2">
                                <label class=" form-control-label text-white">
                                    City
                                </label>
                            </div>
                            <div class="col-12 col-md-4">
                                <input type="text" id="city" name="city" class="form-control bg-transparent text-white">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-2">
                                <label class=" form-control-label text-white">
                                    Pincode
                                </label>
                            </div>
                            <div class="col-12 col-md-4">
                                <input type="number" id="pincode" name="pincode" class="form-control bg-transparent text-white">
                            </div>
                            <div class="col col-md-2">
                                <label class=" form-control-label text-white">
                                    Mobile 
                                </label>
                            </div>
                            <div class="col-12 col-md-4">
                                <input type="number" id="mobile" name="mobile" class="form-control bg-transparent text-white">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-2">
                                <label class=" form-control-label text-white">
                                    Email
                                </label>
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="email" id="email" name="email" class="form-control bg-transparent text-white">
                            </div>
                            <div class="col col-md-1">
                                <label class=" form-control-label text-white">
                                    Role
                                </label>
                            </div>
                            <div class="col-12 col-md-3">
                                    <select class="form-control bg-transparent  text-white" id="role" name="role">
                                        <option value="Farmer">Farmer</option>
                                        <option value="Dealer">Dealer</option>
                                        <option value="Farmer">Seller</option>
                                        <option value="Delivery Man">Delivery Man</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-2">
                                <label class=" form-control-label text-white">
                                    Password
                                </label>
                            </div>
                            <div class="col-12 col-md-10">
                                <input type="password" id="password" name="password" class="form-control bg-transparent text-white">
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30" style="height: 45px;">Register</button>
                        
                        <div class="register-link m-t-15 text-center  text-white">
                            <p  class='text-white'>Already have account ? <a href="/index/" class='text-white'> Sign in</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <p class="copyright text-white">E-KISAN - @copyright-2022</p>
</div>
</div>          
</div>

    <script src="{% static 'assets/js/lib/chart-js/Chart.bundle.js' %}"></script>
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <script src="{% static 'assets/js/widgets.js' %}"></script>
    <script src="{% static 'assets/js/lib/vector-map/jquery.vmap.js' %}"></script>
    <script src="{% static 'assets/js/lib/vector-map/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/vector-map/jquery.vmap.sampledata.js' %}"></script>
    <script src="{% static 'assets/js/lib/vector-map/country/jquery.vmap.world.js' %}"></script>
    <script src="{% static 'https://code.jquery.com/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' %}"></script>


</body>
</html>



<script>  
    $(document).ready(function(){  
        $("#registerform").validate({
            rules: {
               name: {
                    required: true,
                    minlength: 4,
                    maxlength:20
               }, 
               address: {
                    required: true,
                    minlength: 25,
                    maxlength:200
               }, 
               state: {
                    required: true,
                    minlength: 4,
                    maxlength:20
               }, 
               city: {
                    required: true,
                    minlength: 4,
                    maxlength:20

               }, 
               pincode: {
                    required: true,
                    number: true,
                    minlength: 6,
                    maxlength:6
               },
               mobile: {
                    required: true,
                    number: true,
                    minlength: 10,
                    maxlength:10
                }, 
               email: {
                    required: true,
                    minlength: 6,
                    maxlength:20
               }, 
                password: {
                    required: true,
                    minlength: 6,
                    maxlength:20
                }
            },
            messages: {
                name: {
                    required: "specify name",
                    minlength: "The name field has to be minimum 4 characters long",
                    maxlength: "The name field has to be maximum 20 characters long"
                },
                address: {
                    required: "specify address",
                    minlength: "The address field has to be minimum 25 characters long",
                    maxlength: "The address field has to be maximum 200 characters long"
                },
                state: {
                    required: "specify state",
                    minlength: "The state field has to be minimum 4 characters long",
                    maxlength: "The state field has to be maximum 20 characters long"
                },
                city: {
                    required: "specify city",
                    minlength: "The city field has to be minimum 4 characters long",
                    maxlength: "The city field has to be maximum 20 characters long"
                },
                pincode: {
                    required: "specify pincode",
                    minlength: "The pincode field has to be minimum 6 characters long",
                    maxlength: "The picode field has to be maximum 6 characters long"
                },
                mobile: {
                    required: "specify number",
                    minlength: "The mobile field has to be minimum 10 characters long",
                    maxlength: "The mobile field has to be maximum 10 characters long"
                },
                email:{
                    required: "specify email",
                    minlength: "The email field has to be minimum 6 characters long",
                    maxlength: "The email field has to be maximum 20 characters long"
                },
                password: {
                    required: "specify password",
                    minlength: "The password field has to be minimum 6 characters long",
                    maxlength: "The password field has to be maximum 20 characters long"
                }
            }  
        });
    }); 
</script> 