{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>E-KISAN | Pay Details</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'apple-icon.png' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="assets/css/bootstrap-select.less">
    <link rel="stylesheet" href="{% static 'assets/scss/style.css' %}">
    <link href="{% static 'assets/css/lib/vector-map/jqvmap.min.css' %}" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"> </script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script scr="https://polfill.io/v3/polyfill.min.js?features=default"></script>
</head>

<body>
    {% include 'deliverymanmenu.html' %}
    {% include 'deliverymanheader.html' %}

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
    
                <div class="col-md-12" style="margin-top: 50px;">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Data Table</strong>
                            <!-- <a href="">
                                <input type="submit" style=" float: right;width: 100px;" name="add" value="ADD"
                                    class="btn btn-primary form-control">
                            </a> -->
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                            <table id="bootstrap-data-table" class="table table-striped table-bordered dataTable no-footer"
                                role="grid" aria-describedby="bootstrap-data-table_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" aria-controls="bootstrap-data-table" style="width: 100px;">Farmer</th>
                                        <th class="sorting" aria-controls="bootstrap-data-table" style="width: 200px;">Farmer's Address</th>
                                        <th class="sorting" aria-controls="bootstrap-data-table" style="width: 100px;">Dealer</th>
                                        <th class="sorting" aria-controls="bootstrap-data-table" style="width: 200px;">Dealer's Address</th>
                                        <th class="sorting" aria-controls="bootstrap-data-table" style="width: 100px;">Name</th>
                                        <th class="sorting" aria-controls="bootstrap-data-table" style="width: 100px;">Price</th>
                                        <th class="sorting" aria-controls="bootstrap-data-table" style="width: 100px;">Quantity</th>
                                        <th class="sorting" aria-controls="bootstrap-data-table" style="width: 100px;">DeliveryOn</th>
                                        <th class="sorting" aria-controls="bootstrap-data-table" style="width: 100px;">Location</th>                                        
                                        <th class="sorting" aria-controls="bootstrap-data-table"
                                            style="width: 50px; padding-left: 10px;">Action</th>
    
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for bit in bits %}
                                    <tr role="row" class="odd">
                                        <td>{{bit.farmer}}</td>
                                        <td>{{bit.farmer_address}}</td>
                                        <td>{{bit.bitter}}</td>
                                        <td>{{bit.bitter_address}}</td>
                                        <td>{{username}}</td>
                                        <td>{{bit.bit_value}}</td>
                                        <td>{{bit.quantity}}</td>
                                        <td>within 7 days</td>
                                        <td><a href="/deliveryman/location/{{bit.farmer_address}}/{{bit.bitter_address}}/">Location</a></td>
                                        <td>
                                            <a href="">
                                                <input type="submit" style="width: 100px;" name="edit" value="Will Deliver"
                                                    class="btn btn-primary form-control">
                                            </a>
                                            <!-- <a href="">
                                                <input type="submit" style="width: 100px;" name="delete" value="DELETE"
                                                    class="btn btn-danger form-control">
                                            </a> -->
                                        </td>
                                    </tr>
                                    {% endfor %}    
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'deliverymanfooter.html' %}

</body>

</html>